.basket {
  #basket-root {
    width: 100%;
  }

  &-items {
    &__image {
      img {
        max-width: 158px;
        max-height: 240px;

        filter: drop-shadow(9px 4px 17px rgba(0, 0, 0, 0.25));
        @media (max-width: 575px) {
          max-width: 52px;
          max-height: 80px;
        }
      }
    }

    &__check {
      margin-right: 30px;
      padding-left: 0;

      input {
        margin-left: 0;
      }
    }

    &__info {
      &_title {
        margin-right: 15px;
      }

      &-bottom {
        .btn-fav {
          margin-left: -0.7rem;
        }
      }
    }

    &__price {
      white-space: nowrap;

      &-old {
        color: rgba(85,85,85, 0.5);
      }

      &-count select, &-count input {
        width: 60px;
        border: 1px solid #CACACA;
        color: #818181;
        padding: 8px 14px;
        height: 36px;
        border-radius: 0;
      }
    }

    &__remove {
      cursor: pointer;
      font-size: 25px;
      line-height: 25px;
    }

    &__discount {
      line-height: 24px;
      color: #fff;
      background-color: #D13B09;
      display: inline;
      padding: 0 5px;
    }

    .basket-item {
      &-block-amount {
        display: flex;
        margin-right: 15px;

        .text-muted {
          white-space: nowrap;
          color: #818181;
        }

        input {
          border: 1px solid #CACACA;
          color: #818181;
          padding: 8px 14px;
          height: 36px;
        }
      }

      &-amount-filed {
        width: 60px;
        margin-top: -4px;
      }

      &-amount-btn {
        &-plus, &-minus {
          position: relative;
          width: 28px;
          height: 36px;
          cursor: pointer;
          transition: 300ms all ease;
          text-align: center;
          color: #818181;
        }

        &-plus:before {
          content: '+';
        }

        &-minus:before {
          content: '-';
        }
      }
    }

    .basket-items-list-item-amount {
      display: flex;
      flex-wrap: nowrap;
    }

    ul {
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);

      @media only screen and (min-width: 575px) {
        margin-bottom: 30px;
      }
    }

    .btn {
      &-primary {
        background-color: #9ED924;
        border-color: #9ED924;
        white-space: nowrap;
      }
    }

    &__forms {
      ul {
        @media only screen and (max-width: 575px) {
          border-bottom: 0;
        }
      }
    }

    @media only screen and (max-width: 575px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .form-check-label {
    font-weight: normal;
  }

  .form-control {
    padding: 8px 14px;
    border-radius: 0;
  }

  .card {
    border-radius: 0;
  }

  &-info {
    &__items {
      &_image {
        img {
          max-width: 59px;
          max-height: 90px;
        }
      }
      &_title {
        font-size: 12px;
        line-height: 120%;
      }

      &_author {
        font-size: 14px;
        color: #818181;
      }

      &_price {
        &-old {
          color: rgba(85,85,85, 0.5);
        }
      }
    }

    .list-group-item {
      border: 0;

      &.bg-light {
        background-color: #ebebeb!important;
      }

      small {
        color: #818181;
      }
    }

    .form-check-label {
      a {
        border-bottom: 1px solid #818181;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .btn {
    border-radius: 0;

    &-fav {
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      line-height: 110%;
      color: #555555;

      i {
        display: block;
        width: 19px;
        height: 15px;
        margin-right: 6px;
        background: url("../images/books/book-slider-fav-icon.svg") no-repeat;
      }

      &:hover {
        i {
          background: url("../images/books/book-slider-fav-icon-hover.svg") no-repeat;
        }
      }

      &__active {
        i {
          background: url("../images/books/book-slider-fav-icon-active.svg") no-repeat;
        }
      }
    }

    &.btn-success {
      background-color: #9ED924;
      border-color: #9ED924;
    }

    &.btn-secondary {
      background-color: #C4C4C4;
      border-color: #C4C4C4;
    }

    &[disabled] {
      background-color: #C4C4C4;
      border-color: #C4C4C4;
    }
  }

  &-step {
    .badge {
      font-size: 13px;
      padding: 4px 8px;
      border-radius: 0;
      background-color: #818181;
      &.badge-primary, &.active {
        background-color: #F67211;
      }
    }

    &__header {
      align-items: center;
      margin-bottom: 30px;

      &_badge, &_badge.badge, &_badge.badge.badge-primary {
        background-color: #F49A81;
        display: inline-flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 28px;
        font-weight: normal;
        align-items: center;
        justify-content: center;
      }
    }

    &__form-label, .form-group label:not(.form-check-label) {
      font-size: 14px;
      color: #818181;
      font-weight: normal;
    }

    &__form {
      .form-check {
        .btn {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      & > .btn:last-child {
        margin-top: 40px!important;
      }
    }
  }
}

//bitrix
.basket {
  counter-reset: heading;

  #bx-soa-total-mobile {
    display: none!important;
  }

  #bx-soa-main-notifications {
    .alert {
      position: fixed;
      bottom: 0;
      z-index: 1000;
      width: 100%;
      margin-bottom: 0;
      left: 0;
      border-radius: 0;
      border: 0;
      padding: 22px 30px;
      font-size: 12px;
      &>div {
        padding-left: 0!important;
      }
    }
  }

  .bx-soa-section {
    font-size: 18px;

    &-title-container {
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: normal;

      @media only screen and (max-width: 575px) {
        font-size: 14px;
      }

      @media only screen and (min-width: 576px) and (max-width: 992px) {
        font-size: 20px;
      }
    }

    .bx-soa-pp {
      &.row {
        @media only screen and (max-width: 575px) {
          flex-direction: column-reverse;
        }
      }

      &-item-container {
        .row {
          display: flex;
          flex-direction: column;

          .bx-soa-pp-company {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            margin-bottom: 14px;

            &-smalltitle {
              line-height: 24px;
              margin-left: -74px;
            }

            &-graf-container {
              display: inline-flex;
              flex-direction: column;
              width: 100px;

              input {
                height: 24px;
              }

              div {
                margin-left: 26px;
                font-size: 80%;
                color: #818181;
              }
            }
          }
        }
      }

      &-desc-container {
        .bx-soa-pp-company {
          &-subTitle {
            display: none;
            margin-bottom: 14px;
          }

          &-logo {
            display: none;
          }

          &-block {
            font-size: 80%;
            color: #818181;
            margin-bottom: 14px;
          }

          .bx-soa-pp-list {
            border-bottom: 0!important;
          }
        }
      }

      &-company-image {
        display: none;
      }
    }

    .bx-soa-editstep {
      font-size: 18px;

      @media only screen and (max-width: 575px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 992px) {
        font-size: 14px;
      }
    }

    .bx-soa-pp-company-selected {
      img {
        display: none;
      }
    }

    .bx-soa-more {
      margin-top: 40px;

      &-btn {
        flex-direction: row-reverse;
        display: flex;
        justify-content: flex-end;

        .btn {
          margin-right: 14px;

          &-primary {
            background-color: #9ED924;
            border-color: #9ED924;
          }

          &-outline-secondary {
            border-color: #fff;
            color: #818181;

            &:hover {
              background-color: #fff;
              opacity: 0.6;
            }
          }
        }
      }
    }

    &-title-count {
      background-color: #F49A81;
      display: inline-flex;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      &:after {
        color: #fff;
        content: counter(heading);
        counter-increment: heading;
        text-align: center;
      }

      @media only screen and (max-width: 575px) {
        width: 40px;
        height: 40px;
      }
    }

    .info-container {
      display: flex;
      flex-wrap: wrap;

      &__item {
        display: flex;
        flex-direction: column;
        margin-right: 75px;
        min-width: 175px;
        margin-bottom: 15px;
      }

      strong {
        font-weight: normal;
        font-size: 80%;
        color: #818181;
      }
    }

    &-content {
      .form-check-group {
        margin-bottom: 30px;
      }
    }

    .bx-sls {
      .dropdown-block {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.125);
      }

      .bx-ui-sls-fake, .bx-ui-sls-route {
        margin-top: -8px;
        margin-left: 14px;
      }

      .bx-ui-sls-route[disabled] {
        opacity: 0!important;
      }

      .bx-ui-sls-pane {
        border-radius: 0;
        box-shadow: none;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.125);
      }

      .bx-ui-sls-variants .bx-ui-sls-variant:hover, .bx-ui-sls-variant-active {
        background: #F49A81;
        margin-left: -15px;
        width: 120%;
        color: #fff;

        .dropdown-item-text {
          color: rgba(255,255,255,0.8);
          padding-left: 39px;
          span {
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }

    .form-group {
      position: relative;
    }

    .tooltip {
      border-radius: 0;
      font-size: 50%;
      top: 0;
      right: 0;

      &-inner {
        background-color: #ebebeb;
        color: #212529;
        border-radius: 0;
      }
    }

    &.bx-step-completed {
      .bx-soa-section-title-count {
        background-color: #9ED924;
      }

      .bx-soa-section-content {
        .row {
          display: flex;
          flex-direction: column;
        }
        &.container-fluid {
          padding-left: 0!important;
        }
      }

      strong {
        font-weight: normal;
        font-size: 80%;
        color: #818181;
      }
    }

    &.bx-step-error {
      .bx-soa-section-title-count {
        background-color: #D13B09;
      }
    }

    .alert {
      border: 0;
      border-radius: 0;
      font-size: 80%;
    }

    @media only screen and (max-width: 992px) {
      font-size: 14px;
    }
  }

  .bx-soa-custom-label {
    font-weight: normal;
    font-size: 80%;
    color: #818181;

    .bx-authform-starrequired {
      margin-left: 8px;
    }
  }

  &-items {
    &__forms {
      ul {
        border-top: 0!important;
        border-bottom: 0!important;

        .list-group-item:first-child {
          padding-top: 0!important;
        }
      }
    }
  }

  #bx-soa-basket {
    padding: 0 1.25rem;

    .bx-soa-section {
      &-content {
        padding-right: 0;
        padding-left: 0;
      }

      &-title-container {
        display: none;
      }
    }

    .bx-soa-item-table {
      font-size: 14px;

      .bx-price {
        white-space: nowrap;
        margin-left: 5px;
        min-width: 60px;
        display: inline-block;
        text-align: right;
      }

      .bx-soa-item-td-text {
        margin-left: 5px;
      }

      a:hover {
        text-decoration: none;
      }
    }

  }

  .bx-soa-cart-total-ghost {
    display: none;
  }

  .bx-soa-cart-total {
    .list-group-item {
      border-top: 1px solid #ebebeb;
      &:first-child {
        border-top: 0;
      }
    }
  }

  #bx-soa-orderSave {
    .card-body {
      padding: 0;
    }
  }
}

.container {
  .sberbank {
    &__wrapper {
      font-family: IBM Plex Mono;
      font-style: normal;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__content {
      border: 0;
    }

    &__price-string {
      display: flex;
      flex-direction: column;
      font-weight: normal;
    }

    &__payment-link {
      background-color: #9ED924!important;
      border-color: #9ED924;
    }

    &__payment-description, &__description {
      font-size: 60%;
      color: #818181;
      text-align: center;
    }
  }
}

.order {
  h3 {
    margin-top: 80px;
  }

  &:first-child {
    h3 {
      margin-top: 0;
    }
  }


  h6 {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ebebeb;

    &:first-child {
      border-top: 0;
      padding-top: 0;
      margin-top: 0;
    }
  }

  &-items {
    border-top: 1px solid #ebebeb;

    &__info {
      &_image {
        img {
          max-width: 158px;
          max-height: 240px;

          filter: drop-shadow(9px 4px 17px rgba(0, 0, 0, 0.25));
          @media (max-width: 575px) {
            max-width: 52px;
            max-height: 80px;
          }
        }
      }

      &_title {
        //font-size: 12px;
        line-height: 120%;
      }

      &_author {
        font-size: 14px;
        color: #818181;
      }

      &_price {
        &-old {
          color: rgba(85, 85, 85, 0.5);
        }
      }
    }

    .list-group-item {
      border: 0;
      border-top: 1px solid #ebebeb;

      &:first-child {
        border-top: 0;
      }

      @media only screen and (max-width: 575px) {
        &:last-child {
          border-bottom: 1px solid #ebebeb;
        }
      }
    }
  }

  &-status {
    padding-top: 1.5rem;

    @media only screen and (max-width: 575px) {
      padding-top: 20px;
    }
  }

  .sale-order-list-payment {
    &-title, &-price {
      display: flex;
      justify-content: space-between;
    }
  }

  .sale-order-list-shipment {
    &-element, &-status {
      display: flex;
      justify-content: space-between;
    }
  }

  .sale-order-list-inner-row {
    margin-top: 40px;
  }

  .btn {
    &-primary {
      margin-right: 14px;
      margin-top: 40px;
      background-color: #9ED924;
      border-color: #9ED924;
      width: 100%;
      border-radius: 0;
    }

    &-secondary {
      width: 100%;
      border-radius: 0;
    }
  }
}

.table-order-history {
  font-size: 14px;
  line-height: 17px;

  td {
    cursor: pointer;
  }

  &.table th, &.table td {
    padding: 30px 57px 30px 0;

    @media only screen and (max-width: 575px) {
      padding: 20px 37px 20px 0;
    }
  }

  & thead {
    th {
      border-top: 0;
      border-bottom: 0;
      color: #818181;
      font-weight: normal;
      white-space: nowrap;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__action {
    vertical-align: middle;
    text-align: right;
    padding-right: 0!important;
  }

  &__info, .basket-info__items {
    max-width: 460px;
  }

  &__collapse {
    padding-right: 0!important;
  }

  .bg-light {
    background-color: #EBEBEB!important;
  }

  .dropdown-chevron {
    display: inline-flex;

    &::before {
      content: "";
      display: inline-block;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      border-bottom: 0;
      border-left: 5px solid transparent;
      position: absolute;
      margin-left: 1px;
    }

    &::after {
      content: "";
      border-right: 6px solid transparent;
      border-top: 6px solid;
      border-bottom: 0;
      border-left: 6px solid transparent;
      vertical-align: 2px;
    }
  }

  [aria-expanded="true"] .dropdown-chevron {
    &::before {
      border-top: 0;
      border-bottom: 5px solid white;
      margin-top: 1px;
    }

    &::after {
      border-top: 0;
      border-bottom: 6px solid;
    }
  }

  &.table-hover {
    tr:active, tr:hover {
      &.collapse {
        background-color: transparent;
      }


      .dropdown-chevron {
        &::before {
          border-top: 5px solid #ececec;
        }
      }

      &[aria-expanded="true"] .dropdown-chevron {
        &::before {
          border-top: 0;
          border-bottom: 5px solid #ececec;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;

    &_block {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        color: #818181;
        font-weight: normal;
        white-space: nowrap;
      }
    }
  }
}
