.basket {
  &-items {
    &__image {
      img {
        max-width: 158px;
        max-height: 240px;

        filter: drop-shadow(9px 4px 17px rgba(0, 0, 0, 0.25));
        @media (max-width: 575px) {
          max-width: 52px;
          max-height: 80px;
        }
      }
    }
  }

  &-info {
    &__items {
      &_image {
        img {
          max-width: 59px;
          max-height: 90px;
        }
      }
      &_title {
        font-size: 14px;
        line-height: 120%;
      }
    }
  }

  .btn {
    &-fav {
      display: inline-flex;
      align-items: center;
      font-size: 16px;
      line-height: 110%;
      color: #555555;

      i {
        display: block;
        width: 19px;
        height: 15px;
        margin-right: 6px;
        background: url("../images/books/book-slider-fav-icon.svg") no-repeat;
      }

      &:hover {
        i {
          background: url("../images/books/book-slider-fav-icon-hover.svg") no-repeat;
        }
      }

      &__active {
        i {
          background: url("../images/books/book-slider-fav-icon-active.svg") no-repeat;
        }
      }
    }
  }
}
