.book_Swiper, .catalog__main_items {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;

  &.no-image-shadow {
    .news-book__item {
      .book-img {
        img {
          box-shadow: none;
        }
      }
    }
  }

  .swiper-wrapper {
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .swiper-slide {
    &:last-child {
      margin-right: 0;
    }
  }

  .news-book__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    color: #202020;
    padding-top: 40px;
    padding-left: 70px;
    margin-left: -40px;
    margin-right: 40px;
    min-width: 244px;

    a {
      opacity: 1;
    }

    .book {
      &-img {
        height: 240px;
        max-width: 160px;
        position: relative;

        img {
          max-width: 160px;
          max-height: 240px;
          box-shadow: 9px 4px 17px 0 rgba(0, 0, 0, .25);
        }
      }

      &-image {
        &-0 img {
          transform: rotate(-3deg);
        }

        &-1 img {
          transform: matrix(1, 0.04, -0.03, 1, 0, 0);
        }

        &-2 img {
          transform: rotate(-3deg);
        }

        &-3 img {
          transform: rotate(2.82deg);
        }

        &-4 img {
          transform: rotate(2deg);
        }
      }

      &-name {
        font-family: IBM Plex Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        overflow-wrap: break-word;
        color: #202020;
        margin-bottom: 5px;
        margin-top: 15px;
      }

      &-author {
        font-size: 14px;
        line-height: 18px;
        color: #818181;
        margin-bottom: 5px;
      }

      &-sum {
        margin-bottom: 10px;

        .sum {

        }

        .currency {

        }
      }

      &-actions {
        display: flex;
        flex-direction: row;

        .btn-cart {
          border: 1px solid #C4C4C4;
          box-sizing: border-box;

          font-family: 'IBM Plex Mono';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 110%;
          text-align: center;
          display: flex;
          align-items: center;
          border-radius: 0;
          color: #818181;
          padding: 7px;

          i {
            display: block;
            width: 20px;
            height: 20px;
            background: url("../images/books/cart-button-icon.svg") no-repeat;
            margin-right: 6px;
          }

          &:hover {
            background-color: #F67211;
            border-color: #F67211;
            color: #fff;
            i {
              background: url("../images/books/cart-button-icon-hover.svg") no-repeat;
            }
          }
        }
        .btn-fav {
          i {
            display: block;
            width: 19px;
            height: 15px;
            background: url("../images/books/book-slider-fav-icon.svg") no-repeat;
          }

          &:hover {
            i {
              background: url("../images/books/book-slider-fav-icon-hover.svg") no-repeat;
            }
          }

          &__active {
            i {
              background: url("../images/books/book-slider-fav-icon-active.svg") no-repeat;
            }
          }
        }
      }

      &__tags {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;

        .book__tag {
          font-family: 'IBM Plex Mono';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 110%;
          text-transform: uppercase;
          padding: 3px 6px;
          margin-right: 5px;

          color: #FFFFFF;
          background-color: #818181;
          &_hit {
            background-color: #F67211;
          }
          &_discount, &_action {
            background-color: #9ED924;
          }
          &_new {
            background-color: #D13B09;
          }
        }
      }
    }

    .blot {
      display: block;
      content: '\a';
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 260px;
      background-repeat: no-repeat;

      &__discount, &__action {
        background-image: url('../images/books/book-blot-discount.svg');
      }

      &__new {
        background-image: url('../images/books/book-blot-new.svg');
      }

      &__hit {
        background-image: url('../images/books/book-blot-hit.svg');
      }
    }

    &:hover {
      .blot {
        background-size: contain;

        &__discount {
          background-image: url('../images/books/book-blot-discount-hover.svg');
        }

        &__new {
          background-image: url('../images/books/book-blot-new-hover.svg');
        }

        &__hit {
          background-image: url('../images/books/book-blot-hit-hover.svg');
        }
      }
    }

    @media only screen and (max-width: 767px) {
      margin-right: 0;
      padding-left: 20px;
      margin-left: -10px;
      display: flex;
      flex-direction: row;
      align-content: flex-start;

      .book {
        &-img {
          height: 150px;
          max-width: 100px;
          margin-right: 20px;

          img {
            max-width: 150px;
            max-height: 100px;
          }
        }
        &-name {
          margin-top: 0;
        }
      }

      .blot {
        width: 130px;
        height: 130px;
        background-size: contain;
      }
    }
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 30%;
    width: 46px;
    height: 46px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-top: 1px solid #555;
      border-right: 1px solid #555;
      border-width: 1px;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .swiper-button-next {
    right: -15px;
    left: auto;
    bottom: 100px;

    &:after {
      margin-left: -8px;
      transform: rotate(45deg);
    }
  }

  .swiper-button-prev {
    right: auto;
    left: -15px;
    bottom: 100px;

    &:after {
      margin-left: 8px;
      transform: rotate(-135deg);
    }
  }
}
.footer__lasttime {
  position: relative;
  margin-bottom: 30px;

  .swiper-wrapper {
    padding-bottom: 10px;
    align-items: flex-end;
  }

  &_title {
    margin-bottom: 30px;
  }

  &_book {
    position: relative;

    &:first-child {
      margin-left: -10px;
    }

    a {
      display: block;
      max-width: 66px;
      max-height: 100px;
      margin-right: 20px;
      padding-left: 10px;
      position: relative;
      opacity: 1;

      img {
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        max-width: 100%;
        max-height: 100%;
      }
    }

    &:after {
      content: "\a";
      display: block;
      width: 100%;
      height: 25px;
      position: absolute;
      background-color: #013B42;
      border-top: 1px solid rgba(255,255,255,0.2);
      bottom: -11px;
      opacity:1;
      transition: opacity 350ms;
    }

    &:hover {
      a {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }
  }

  &:after {
    content: "\a";
    display: block;
    width: 100%;
    position: absolute;
    background-color: #013B42;
    border-top: 1px solid rgba(255,255,255,0.2);
    bottom: 23px;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 22px;
    width: 24px;
    height: 24px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #013B42;
    border-radius: 50%;

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid #555;
      border-right: 1px solid #555;
    }
  }

  .swiper-button-next {
    right: 0;
    left: auto;

    &:after {
      margin-left: -3px;
      transform: rotate(45deg);
    }
  }

  .swiper-button-prev {
    right: auto;
    left: 0;

    &:after {
      margin-left: 3px;
      transform: rotate(-135deg);
    }
  }
}

.content__publishers {
  position: relative;
  margin-top: 40px;

  .swiper-wrapper {
    padding-bottom: 10px;
  }

  &_title {
    margin-bottom: 27px;
  }

  &_publisher {
    position: relative;

    a {
      display: block;
      max-width: 96px;
      max-height: 96px;
      margin-right: 15px;
      position: relative;
      opacity: 1;

      img {
        max-width: 96px;
        max-height: 96px;
      }
    }
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 36px;
    width: 24px;
    height: 24px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid #555;
      border-right: 1px solid #555;
    }
  }

  .swiper-button-next {
    right: 0;
    left: auto;

    &:after {
      margin-left: -3px;
      transform: rotate(45deg);
    }
  }

  .swiper-button-prev {
    right: auto;
    left: 0;

    &:after {
      margin-left: 3px;
      transform: rotate(-135deg);
    }
  }
}
