.catalog {
  .filter-block {
    padding-top: 50px;
  }

  @media only screen and (max-width: 575px) {
    &-filter {
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 100;

      padding-bottom: 30px;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;

      display: none;
      flex-direction: column;
      box-sizing: border-box;

      &.show {
        display: flex;
      }

      &__header {
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 7px;

        position: sticky;
        background: #fff;
        top: 0;
        z-index: 300;
      }

      &__close {
        width: 15px;
        height: 15px;
        background: url("../images/close.svg") no-repeat;
      }
    }
  }

  .price-value {
    .form-control {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-left: -15px;
    margin-right: -15px;

    .btn {
      font-size: 14px;
    }

    .dropdown {
      &-menu {
        border-radius: 0;
        padding: 0;

        background: #FFFFFF;
        box-shadow: 9px 4px 17px rgba(0, 0, 0, 0.25);
      }

      &-toggle {
        &::before {
          content: "";
          display: inline-block;
          border-right: 4px solid transparent;
          border-top: 4px solid white;
          border-bottom: 0;
          border-left: 4px solid transparent;
          position: absolute;
          right: 15px;
          margin-top: 7px;
        }

        &::after {
          content: "";
          border-right: 6px solid transparent;
          border-top: 6px solid;
          border-bottom: 0;
          border-left: 6px solid transparent;
          vertical-align: 2px;
        }
      }

      &-item {
        padding: 6px 8px;
        font-size: 14px;
        line-height: 120%;
        color: #202020;
      }

      &.show {
        .dropdown-toggle {
          &::before {
            border-bottom: 4px solid white;
            border-top: 0;
            right: 15px;
            margin-top: 10px;
          }

          &::after {
            border-top: 0;
            border-bottom: 6px solid;
          }
        }
      }

    }

    &_filter {
      display: flex;
      &_icon {
        display: inline-block;
        width: 20px;
        height: 22px;
        margin-right: 10px;
        background: url("../images/filter.svg") no-repeat;
      }
    }

    @media only screen and (max-width: 575px) {
      justify-content: space-between;
    }
  }

  &__row_5 {
    .catalog__controls_filter {
      display: none!important;
    }

    @media (min-width: 768px) {
      .col-md-6 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }

    @media (min-width: 992px) {
      .col-lg-3 {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }

  &-filter {
    &__show_more {
      font-size: 14px;
      line-height: 120%;
      color: #818181;
    }
  }
}

.catalog .catalog-filter {
  .noUi-horizontal{
    height: 4px;
    background: #EBEBEB;
    border: 1px solid transparent;
  }
  .noUi-handle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: -7px;
    box-shadow: none;
    &:before, &:after {
      content: none;
    }
  }

  .noUi-horizontal .noUi-handle {
    right: -10px;
  }

  .noUi-connect {
    background: #818181;
  }
}
.catalog .catalog-filter__filter {
  .form-check {
    display: flex;
  }
  .form-check .form-check-label {
    font-weight: 400;
    flex: 4;
  }
  .form-check .form-check-count {
    margin-left: auto;
    font-size: 12px;
    line-height: 14px;
    color: #818181;
    flex: 1;
    text-align: right;
    padding-top: 6px;
  }
}
.catalog .catalog-footer {
  display: flex;
  margin-top: 70px;

  &__buttons_load {

  }

  &__buttons {
    a {
      background-color: #9ED924;
      border: 1px solid #9ED924;
      border-radius: 0;
    }
  }

  &__pagination {
    display: flex;

    ul {
      display: flex;
      flex: 0 0 100%;
      justify-content: flex-end;
      padding-left: 60px;
      flex-wrap: wrap;

      .page-link {
        color: #212529;
        border: none;
        border-radius: 0;
      }

      .page-item {
        a {
          color: #212529;
          border: none;
        }

        &.active {
          .page-link {
            color: white;
            background-color: #9ED924;
            border: 0;
          }
        }
      }

      @media only screen and (max-width: 575px) {
        padding-left: 0;
        margin-top: 8px;
        justify-content: flex-start;
      }
    }
  }
}
.catalog__main {
  &_banners {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 575px) {
      overflow-x: scroll;
      flex-wrap: nowrap;
      margin-left: 0px;

      a {
        margin-right: 15px;
      }
    }
  }

  &_items {
    margin-top: 50px;
    @media only screen and (max-width: 575px) {
      margin-top: 0;
    }
  }

  &_banner {
    max-width: 240px !important;
    height: 130px;
    padding: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    h1 {
      font-size: 18px;
      line-height: 20px;
      color: #fff;
    }

    &:first-child {
      background-image: url('../images/banners/banner1.png');
    }

    &:nth-child(2) {
      background-image: url('../images/banners/banner2.png');
    }
    &:nth-child(3) {
      background-image: url('../images/banners/banner3.png');
    }
    &:nth-child(4) {
      background-image: url('../images/banners/banner4.png');
      margin-right: 0;
    }

    @media only screen and (min-width: 1200px) {
      max-width: 196px!important;
    }
  }
}

.catalog-filter__item {
  .form-check-label {
    font-weight: 400;
    flex: 4;
  }

  h6 {
    margin-top: 22px;
    &:first-child, &:nth-child(2) {
      margin-top: 0;
    }
  }

  .bx-filter {
    .collapse:not(.show) {
      display: block;
    }

    &-parameters-box-container.row {
      margin-right: 0;
      margin-left: 0;
    }

    .bx-ui-slider {
      &-track-container {
        position: relative;
        width: 100%;
        height: 16px;
        margin-top: 8px;
        margin-bottom: 16px;
      }

      &-handle {
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        top: -6px;
        box-shadow: none;

        border: 1px solid #D9D9D9;
        background: #FFF;

        &:hover {
          cursor: grab;
          opacity: 1;
        }

        &:active {
          cursor: grabbing;
          opacity: 1;
        }
      }

      &-range, &-pricebar, &-pricebar-vd, &-pricebar-vn, &-pricebar-v {
        height: 4px;
        border-radius: 3px;
        border: 0;
      }

      &-range {
        z-index: 50;
      }

      &-pricebar {
        &-vd {
        }

        &-vn {
          background: #EBEBEB;
          margin-top: -4px;
        }

        &-v {
          position: absolute;
          background: #818181;
          margin-top: -4px;
        }
      }
    }
  }
}

.publisher-info {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #EBEBEB;

  h1 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    color: #202020;
  }

  &__text {
    max-width: 1020px;
  }

  &__image {
    text-align: right;

    img {
      max-width: 160px;
      max-height: 160px;
    }
  }
}

[id^="wait_"] {
  top: 0!important;
  position: fixed!important;
  left: 0!important;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.7)!important;
  border: 0!important;
  color: rgba(0,0,0,0)!important;
}
