.container {
  margin: auto;
}

.content {
  &-dense {
    @media only screen and (max-width: 575px) {
      margin-top: -30px;
    }
  }

  .container {
    //padding: 0 30px;
    margin: auto;
  }

  h5 {
    margin-top: 57px;
    @media only screen and (max-width: 575px) {
      margin-top: 40px;
    }
  }
}

