.container {
  margin: auto;
}

.content {
  &-dense {
    @media only screen and (max-width: 575px) {
      margin-top: -30px;
    }
  }

  .container {
    //padding: 0 30px;
    margin: auto;
  }

  & > .container {
    @media only screen and (min-width: 576px) {
      padding: 0 30px;
    }
  }

  h5 {
    margin-top: 57px;
    @media only screen and (max-width: 575px) {
      margin-top: 40px;
    }
  }
}

