.header-menu {
  overflow: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 880px;

    @media only screen and (min-width: 768px) and (max-width: 1048px) {
      min-width: 800px;
    }
    @media only screen and (min-width: 1049px) {
      min-width: 800px;
    }
  }
  &__link {
    position: relative;
    font-size: 18px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
      margin-left: auto;
    }

    @media only screen and (min-width: 768px) and (max-width: 1048px) {
      font-size: 14px;
    }
    @media only screen and (min-width: 1049px) {
      font-size: 14px;
    }

    a:hover {
      opacity: 1;
      color: #F67211;
      font-weight: bold;
      text-decoration: none;
    }

    &_back {
      display: flex;
      align-items: center;
      border-bottom: none!important;
      img {
        margin-right: 10px;
      }
    }
  }

  &__submenu {
    @media only screen and (min-width: 575px) {
      opacity: 0;
    }
  }

  &__pointer {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-top: 1px solid #818181;
    border-left: 1px solid #818181;
    transform: rotate(45deg);
  }

  &__link_active {
    .header-menu__pointer {
      left: 50%;
      margin-left: -4px;
      opacity: 0;
    }
  }

  &__body {
    position: relative;
    & > .header-menu__pointer {
      top: 39px;
      z-index: 10;

      @media only screen and (min-width: 768px) and (max-width: 1048px) {
        top: 33px;
      }
      @media only screen and (min-width: 1049px) {
        top: 33px;
      }
    }
  }
}

.header-submenu {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background: #fff;
  width: 100%;
  border-top: 1px solid #818181;
  padding-top: 25px;
  font-size: 16px;
  line-height: 27px;
  overflow-x: scroll;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    width: 33.333333%;
  }

  .header-menu__link {
    &_selected {
      position: relative;
      a {
        color: #F67211;
        font-weight: bold;
        text-decoration: none;
      }

      & svg {
        position: absolute;
        margin-top: 13px;
        margin-left: 4px;
        &.header-menu__zigzag_reversed {
          bottom: 0;
          margin-bottom: 14px;
        }
      }
    }
  }
}

.header-menu__body_mobile {
  .header-submenu {
    line-height: 39px;
    &__list {
      width: 100%;
      min-width: 0;
    }

    .header-menu__link {
      border-bottom: 1px solid #EBEBEB;
    }
  }
}
