.info-block {

  &__title {
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 28px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 36px;
  }

  &__item {
    background: rebeccapurple;
    padding: 16px;
    color: #fff;
    box-sizing: border-box;
    background-image: url('../images/infoBlock.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .8s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    &.image {
    }
    &.info {
      display: flex;
      flex-direction: column;
      .date {
        margin-top: auto;
      }
    }
    &:first-child {
      width: 520px;
      height: 520px;
      grid-area: 1 / 1 / 3 / 3;
    }
    &:nth-child(2) {
      width: 240px;
      height: 240px;
      grid-area: 1 / 3 / 2 / 4;
    }
    &:nth-child(3) {
      width: 240px;
      height: 240px;
      grid-area: 1 / 4 / 2 / 5;
    }
    &:nth-child(4) {
      width: 240px;
      height: 240px;
      grid-area: 1 / 5 / 2 / 6;
    }
    &:nth-child(5) {
      width: 240px;
      height: 240px;
      grid-area: 2 / 3 / 3 / 4;
    }
    &:nth-child(6) {
      width: 240px;
      height: 240px;
      grid-area: 2 / 4 / 3 / 5;
    }
    &:nth-child(7) {
      width: 240px;
      height: 240px;
      grid-area: 2 / 5 / 3 / 6;
    }
    &:nth-child(8) {
      width: 240px;
      height: 240px;
      grid-area: 3 / 1 / 4 / 2;
    }
    &:nth-child(9) {
      width: 240px;
      height: 240px;
      grid-area: 3 / 2 / 4 / 3;
    }
    &:nth-child(10) {
      grid-area: 3 / 3 / 4 / 4;
    }
    &:nth-child(11) {
      width: 240px;
      height: 240px;
      grid-area: 3 / 4 / 4 / 5;
    }
    &:nth-child(12) {
      width: 240px;
      height: 240px;
      grid-area: 3 / 5 / 4 / 6;
    }
  }
}
