.bx_profile {
  h1, h3 {
    margin-bottom: 18px;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-control {
    border-radius: 0;
    padding: 8px 11px;
  }

  .soclogin_list__icon {
    margin-top: -6px;
  }

  .btn {
    padding: 11px 30px;
    border-radius: 0;

    &-primary, &-success {
      background-color: #9ED924;
      border-color: #9ED924;
    }

    &-secondary {
      background-color: #818181;
      border-color: #818181;
    }
  }
}
