.modal-shop {
  &.show {
    display: block;
  }

  .modal {
    &-dialog {
      z-index: 1050;

      @media (min-width: 576px) {
        max-width: 520px;
      }

      @media (max-width: 575px) {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }

    &-backdrop {
      background-color: #809DA0;
      opacity: 0.3;
    }

    &-content {
      border: none;
      background: #FFFFFF;
      border-radius: 0;
      box-shadow: 9px 4px 17px rgba(0, 0, 0, 0.25);
      padding: 0 20px 20px 20px;

      @media (max-width: 575px) {
        height: 100%;
        overflow-y: scroll;
      }
    }

    &-header {
      padding: 20px 0 0 0;
      height: 60px;
      border-bottom: none;
      .close {
        padding: 0;
        margin: 0;
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url('../images/close.svg') no-repeat;
      }

      img {
        display: none;
      }

      @media (max-width: 575px) {
        padding: 20px 0 20px 0;
        height: auto;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 40px;
        align-items: center;

        .close {
          width: 20px;
          height: 20px;
          background-size: contain;
        }

        img {
          display: block;
        }
      }
    }

    &-body {
      padding: 0 80px;
      font-family: "IBM Plex Mono";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 110%;
      color: #202020;
      margin-bottom: 40px;
      @media (max-width: 575px) {
        padding: 0 20px;
      }

      label {
        font-weight: 500;
      }

      .form-control {
        border-radius: 0;
        padding: 0.5rem;

        &:invalid, &.is-invalid {
          color: #D13B09;
          border-color: #D13B09;
        }

        .invalid-feedback {
          color: #D13B09;
        }
      }

      .form-check-input {
        margin-top: 0.2rem;
      }

      &__product {
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #EBEBEB;

        &_image {
          filter: drop-shadow(9px 4px 17px rgba(0, 0, 0, 0.25));

          img {
            max-width: 60px;
            max-height: 90px;
          }
        }

        &_name {
          font-size: 14px;
          line-height: 120%;
          color: #202020;
        }

        &_author {
          font-size: 14px;
          line-height: 120%;
          color: #818181;
        }
      }
    }

    &-title {
      font-family: IBM Plex Mono;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 110%;
      color: #202020;
      margin-bottom: 16px;

      &__icon {
        float: right;
        margin-top: 6px;

        @media (max-width: 575px) {
          display: none;
        }
      }
    }

    &-footer {
      border-top: none;
      padding: 0 80px 40px 80px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & > * {
        margin: 0;
      }

      @media (max-width: 575px) {
        padding: 0 20px 40px 20px;
      }
    }

    &-info {
      height: 77px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -20px;
      margin-right: -20px;
      background-color: #ebebeb;
      margin-bottom: -20px;
      font-size: 14px;
      padding: 20px;

      &__error {
        color: #D13B09;
      }
    }

    &-separator {
      border-top: 1px solid #EBEBEB;
      height: 1px;
      width: 100%;
      margin-bottom: 30px;
    }

  }

  .btn-success {
    margin-bottom: 14px;
    background: #9ED924;
    border: none;
    border-radius: 0;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    color: #FFFFFF;
    padding: 11px 20px;
    &:active, &:hover, &.active {
      color: #FFFFFF;
      background: #9ED924;
    }
  }

  .btn-text {
    padding: 0.375rem 0;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #818181;
  }

  .btn-text-success {
    margin-bottom: 14px;
    padding: 11px 20px;
  }

  &__review {
    .modal {
      &-title {
        margin-bottom: 30px;
      }
    }
  }

  &__login {
    .modal {
      &-body {
        margin-bottom: 30px;

        label {
          color: #818181;
        }
      }

      &-footer {
        h6 {
          font-size: 14px;
          line-height: 17px;
          color: #818181;
          margin-bottom: 14px;
        }
      }
    }

    .soclogin_list {
      display: flex;
      flex-wrap: wrap;

      font-size: 14px;
      line-height: 17px;
      color: #818181;

      a {
        display: inline-block;
        min-width: 100px;
        margin-right: 15px;
        margin-bottom: 14px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
