.content-wrap {
  display: flex;
  flex-grow: 1;

  p{
    font-size: 14px;
    line-height: 18px;
    color: #202020;
  }
  &__sidebar {
    flex: 1;
  }
  &__content {
    flex: 4;
  }
}

.content {
  &__head {
    margin-bottom: 50px;
  }
  &__date {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar-list {
  list-style: none;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0;
}
ol li:before {
  counter-increment: li;
  content: counters(li,".") ". ";
}

.list-submenu {
  margin-top: 15px;
  li {
    font-size: 18px;
    line-height: 30px;
  }
}

.politics-list {
  &__item {
    &.title {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 50px;
    }
  }
}
