.content {
  &__head {
    margin-bottom: 50px;
  }
  &__date {
    display: flex;
    justify-content: space-between;
  }

  &-wrap {
    display: flex;
    flex-grow: 1;

    p {
      font-size: 14px;
      line-height: 18px;
      color: #202020;
    }
    &__sidebar {
      flex: 1;
      padding-right: 40px;
    }
    &__content {
      flex: 4;
    }
  }
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0;
  li:before {
    counter-increment: li;
    content: counters(li,".") ". ";
  }
}

.list-submenu {
  margin-top: 15px;
  li {
    font-size: 18px;
    line-height: 30px;
  }
}

.politics-list {
  &__item {
    &.title {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 50px;
    }
  }
}

.contacts-block {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #FAECD4;

  h3, p {
    font-size: 24px;
    line-height: 26px;
  }

  small {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
  }
}
